# .env.local.exemple
# TODO: documenter comment obtenir YT_API_KEY
# TODO: expliquer comment récupérer YT_CHANNEL_ID

# YouTube (obligatoire pour voir des YT)
YT_API_KEY=your_youtube_api_key_here
YT_CHANNEL_ID=UCxxxxxxxxxxxxxxxxxxxxxxx

# TikTok (optionnel)
ENABLE_TIKTOK=1
TIKTOK_USERNAME=your_username_without_@

# optionnel
NEXT_PUBLIC_BASE_URL=http://localhost:3000